
:root {
  --color-primary: #f5f5f5;
  --color-secondary: #111827;
  --color-tertiary: #3de4fa;
  --date-color: #7164da;
  --card-background:  radial-gradient(circle at 50% 85%, rgb(26 2 100), rgb(0, 0, 0))
}
.dark {
  --color-primary: #240f43;
  --color-secondary: #f5f5f5;
  --card-background:  radial-gradient(circle at 50% 85%, rgba(39, 15, 112, 0.845), rgb(0 0 0))
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.6rem;

}
main{
  padding: 10rem .7rem ;
}
ul,
ol {
  list-style: none;
}

a{
  text-decoration: none;
}

time{
  color: var(--date-color);
  font-weight: bold;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
