---
import "./toogle-theme.css"
import IconifyIcon from "../Icons/IconifyIcon.astro";
---

<script>
  import { theme } from "@utils/ThemeToogle.js";
</script>

<button id="themeToggle">
  <IconifyIcon  IconName="line-md:moon-to-sunny-outline-loop-transition" className="theme-icon sun"/>
  <IconifyIcon  IconName="line-md:sunny-outline-to-moon-loop-transition"  className="theme-icon moon"  />
  </button>
