---

---
<button class="hamburger hamburger--emphatic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <style>
  .hamburger {
    display: none;
    @media (width < 768px) {
      display: block;
      z-index: 11;
    }
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background-color: var(--color-tertiary);
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after,
  .hamburger.is-active .hamburger-inner:before {
    background-color: var(--color-tertiary);
  }
  </style>